extends layout

block content
  h1 #{title}
  p Math.abs() is applied to #{num1} is #{num1}
  p Math.acos() is applied to #{num1} is #{acos}
  p Math.sin() is applied to #{num2} is #{sin}
  p Math.sinh() is applied to #{num3} is #{sinh}
  
 
